*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input,
textarea {
  outline: none;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
textarea,
input {
  color: #161718;
}

body,
textarea,
input {
  font-family: 'Segoe UI', 'Verdana';
  line-height: 160%;
}

body {
  background-color: #e9eefb;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 33px;
}

h3 {
  font-size: 27px;
}

h4 {
  font-size: 23px;
}

h5 {
  font-size: 19px;
  font-weight: 600;
}

h6 {
  font-size: 16px;
  font-weight: 600;
}

p,
textarea {
  font-size: 14px;
}
