.downloadable {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  column-gap: 8px;

  padding: 6px 24px 6px 20px;

  background-color: #549bef;
  border: 1px solid #4b92e7;
  border-radius: 30px;

  h6 {
    font-weight: 400;
    color: #fff;
  }
}
