.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  border-radius: 4px;

  &.primary {
    background-color: #9670e7;
    color: #fff;
  }

  &.medium {
    padding: 8px 40px;
  }

  h5 {
    color: inherit;
  }
}
